<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <!-- <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter"> -->
      <mat-select  (selectionChange)="FilterType($event)" [(value)]="selectedtype">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let permit of allPermitsMetaData" [value]="permit.permitName" >
            {{permit.permitName}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <span fxFlex="20%"></span>
  <mat-form-field fxFlex="40%">
    <!-- <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter"> -->
      <mat-select  (selectionChange)="FilterType($event)" [(value)]="selectedstatus">
        <mat-option value="">All</mat-option>
        <mat-option value="APPLIED">Applied</mat-option>
        <mat-option value="VERIFIED">Verified</mat-option>
        <mat-option value="VALIDATED">Validated</mat-option>
      </mat-select>
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource1" matSort >
  <ng-container matColumnDef="aadhar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Aadhaar ID </th>
    <td mat-cell *matCellDef="let element"> {{element.aadhaarId}} </td>
  </ng-container>
 
  <ng-container matColumnDef="formName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Form Name </th>
    <td mat-cell *matCellDef="let element"> {{element.permitName}} </td>
  </ng-container>
 
  <ng-container matColumnDef="stage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stage </th>
    <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
  </ng-container>
 
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetails(element)">
          <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
