<div class="container" *ngIf="bool != false">
  <mat-toolbar>
    <span>Violation Entry</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Permit Number</mat-label>
          <input matInput placeholder="Permit Numnber" name = "permitNumber" [formControl]="permitNumber" maxlength="500" required>
        </mat-form-field>
        <hr>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" name = "description" [formControl]="description" maxlength="500" required>
        </mat-form-field>
        <hr>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <hr>
        <mat-label>Action taken</mat-label>
        <br />
        <mat-radio-group class="example-radio-group" [formControl]="actionTaken">
          <mat-radio-button style="text-align:left;" class="example-radio-button" *ngFor="let action of actions" (click)="setRadio(action)" [value]="action">
            {{ action }}
          </mat-radio-button>
          <br />
        </mat-radio-group>
        <hr>
        <div  *ngIf = "suspendBoolean == true">
          <mat-form-field class="full-width">
                <mat-label>Suspension Period</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="suspensionPeriod" placeholder="Choose a Suspension date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br/>
        </div>
        <div *ngIf = "revokedBoolean==true" class="alert alert-danger">
          The permit will be permenantly revoked!
        </div>
        <div *ngIf = "noneBoolean==true">
          <mat-form-field class="full-width">
            <mat-label>Penalty</mat-label>
            <input matInput placeholder="Violation fee" name = "fee"  [formControl]="fee" pattern="[0-9]+" required>
          </mat-form-field>
        </div>
        <hr>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" (click)="submit()">Submit Report</button>
    </mat-card-actions>
  </mat-card>
</div>
