.spacer {
    flex: 1 1 auto;
}
a:hover{
    color: white;
    text-decoration:white;
}

.l-header {
    display: block;
}

main {
    padding-top: 50px;
    margin: 0 auto;
    width: 300px;
}

.course-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.course-header h3 {
    text-align: center;
}


.pwa-logo {
    height: 140px;
}


::ng-deep body {
    background: white;
}
