<app-navbar >
   <router-outlet>   
   </router-outlet>
</app-navbar>

<button class="button button-primary" (click)="subscribeToNotifications()">
   Subscribe
</button>

<!-- 
<app-navbar2></app-navbar2>
<router-outlet style="background-color:black;"></router-outlet> -->
