<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bg2.jpg')">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand"><br/><br/><br/><br/>
                  <h2 class="presentation-title">DIGI-TRACKER</h2><br/><br/><br/><br/>
              </div>
              <h1 class="presentation-subtitle text-center"> Welcome to DigiTracker. A Blockchain based digital permit tracking system, where you can apply and obtain government permits and track their status for their entire lifecycle.</h1>
          </div>
      </div>       
  </div>
<div>