<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
	<mat-tab>
	  <ng-template mat-tab-label>
		<mat-icon class="example-tab-icon">thumb_up</mat-icon>
		Lifecycle
	  </ng-template>
	  <section class="cd-timeline js-cd-timeline" style="background-color: #e3e5e6">
		<div class="cd-timeline__container">
			
			<div class="cd-timeline__block js-cd-block" *ngFor="let s of timeline" >
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img" *ngIf="s.title=='APPLICATION'">
					<img  src="./assets/img/application.svg" alt="Picture">
				</div>
				<div class="cd-timeline__img cd-timeline__img--movie js-cd-img" *ngIf="s.title=='VERIFICATION'">
					<img  src="./assets/img/verify.svg" alt="Picture">
				</div>
				<div class="cd-timeline__img cd-timeline__img--location js-cd-img" *ngIf="s.title=='VALIDATION'">
					<img  src="./assets/img/validate.svg" alt="Picture">
				</div>
				<div class="cd-timeline__img cd-timeline__img--location js-cd-img" *ngIf="s.title=='REJECTION'">
						<img  src="./assets/img/reject.png" alt="Picture">
					</div>
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img" *ngIf="s.title=='ISSUED'">
					<img  src="./assets/img/issue.svg" alt="Picture">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content" >
					<h2>{{s.title}}</h2>
					<div *ngFor="let mes of s.metaInfo">
						<span style="color:#393e56">{{mes.key}}</span><span style="color:grey">&nbsp;{{mes.value}}</span>
					</div>
					<a href="#0" class="cd-timeline__read-more">Read more</a>
					<span class="cd-timeline__date">{{s.date}}</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->




		</div>
	</section> <!-- cd-timeline -->
  
	</mat-tab>
  
	<mat-tab>
	  <ng-template mat-tab-label>
		<mat-icon class="example-tab-icon">thumb_up</mat-icon>
		Take Action
	  </ng-template>

		<mat-card class="my-card" style="margin:100px;padding:50px;">
				<mat-card-content>
			
					<mat-card-actions>
						<div class="wrapper" style="text-align:center;">
								<button mat-raised-button (click)="rejectDescription()" style="background-color:lightgreen;" >Reject</button>
								<button mat-raised-button (click)="issue()" color="primary" >Issue</button>
						</div>
						<div id="reason" *ngIf="showRejectionDesc">
								<form class="my-form">
								<mat-form-field class="full-width">
										<mat-label>Rejection Description</mat-label>
										<input type="text" matInput placeholder="Description" name = "Description" [formControl]="Description" required>
									</mat-form-field>
									<button type="submit" mat-raised-button (click)="finalReject()" style="background-color:red;">Reject</button>
								</form>
								
						</div>
					</mat-card-actions>
				</mat-card-content>
			</mat-card>

	</mat-tab>
</mat-tab-group>



