<div class="container">
    <form>
        <mat-label>Permit Fees</mat-label>
        <br />
        <mat-form-field>
            <input matInput placeholder="Fees" [formControl]="pricing" required>
        </mat-form-field>
        <div>
            <button mat-button (click)="pay()">Pay</button>
        </div>
    </form>
</div>