<mat-card class="my-card" style="margin:100px;padding:50px;">
  <mat-card-content>
 
    <table style="width:100%;">
      <tbody>
        <tr style="height:40px;" *ngFor="let k of keys">  
          <div class="row">
            <td class="col-md-4">{{k}}</td>
            <td class="col-md-4">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" class="dates" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td class="col-md-4" >
              <mat-checkbox [(ngModel)]="validationReq[k]" [disabled]="validationReq[k]"  (click)="sendValidationStage(k)"></mat-checkbox>
            </td>
          </div>     
        </tr>
      </tbody>
    </table>

    <mat-card-actions>
        <div class="wrapper" style="text-align:center;">
            <button mat-raised-button (click)="rejectDescription()" style="background-color:lightgreen;" >Reject</button>
      </div>
      <div id="reason" *ngIf="showRejectionDesc">
          <form class="my-form">
          <mat-form-field class="full-width">
              <mat-label>Rejection Description</mat-label>
              <input type="text" matInput placeholder="Description" name = "Description" [formControl]="Description" required>
            </mat-form-field>
            <button type="submit" mat-raised-button (click)="finalReject()" style="background-color:red;">Reject</button>
          </form>
          
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>