<div class="container" *ngIf="bool != false">
    <mat-toolbar>
      <span>Login</span>
    </mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>
        <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Mobile Number" name = "mobileNumber" [formControl]="mobileNumber" pattern="[0-9]+" maxlength="10" minlength="10" required>
            </mat-form-field>
          <br />
          <mat-form-field class="full-width">
            <mat-label>Aadhaar Number</mat-label>
            <input matInput placeholder="aadhaar" name = "aadhaarID" [formControl]="aadhaarID" pattern="[0-9]+" maxlength="12" minlength="12" required>
          </mat-form-field>
          <br />
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="password" name = "password" [formControl]="password" minlength="6" required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" [disabled]="invalidDetails()!=true" color="primary">Log In</button>
      </mat-card-actions>
    </mat-card>
</div>
