<div class="container">
  <mat-toolbar>
    <span>Issuing Authority Login</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" name = "username" [formControl]="username" minlength="2" required>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Issuing Authority</mat-label>
          <input matInput placeholder="Authority Name" name = "ianame" [formControl]="ianame" required>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" name = "password" [formControl]="password" minlength="8" required>
        </mat-form-field>
        <br />
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button (click)="loginIA()" [disabled]="invalidDetails()!=true" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
  
