
<mat-card class="my-card" style="margin:100px;padding:50px;">
    <mat-card-content>
      <table style="width:100%;">
        <tbody>
          <tr style="height:40px;" *ngFor="let f of chosenPermitJSON">
            <div class="row">
            
            <td class="col-md-3" style="text-align:right;padding-right:20px;">{{f.label}}</td>
            <td class="col-md-9" style="border-bottom:2px solid #808080a1;">{{f.value}}</td>
            </div>
          </tr>
        </tbody>
      </table>

      <!-- <table style="width:100%;">
        <tbody>
          <tr style="height:40px;" *ngFor="let k of keys">           
            <td>
              <button mat-raised-button (click)="viewImage(k)" color="primary" >{{k}}</button>
            </td>
          </tr>
        </tbody>
      </table> -->

      <!-- <img [src]="'data:image/jpg;base64,'+filestring" style="height:500px;width:500px" /> -->

      <mat-card-actions>
          <div class="wrapper" style="text-align:center;">
              <button mat-raised-button (click)="rejectDescription()" style="background-color:lightgreen;" >Reject</button>
              <button mat-raised-button (click)="verify()" color="primary" >Verify</button>
        </div>
        <div id="reason" *ngIf="showRejectionDesc">
            <form class="my-form">
            <mat-form-field class="full-width">
                <mat-label>Rejection Description</mat-label>
                <input type="text" matInput placeholder="Description" name = "Description" [formControl]="Description" required>
              </mat-form-field>
              <button type="submit" mat-raised-button (click)="finalReject()" style="background-color:red;">Reject</button>
            </form>
            
        </div>
      </mat-card-actions>
    </mat-card-content>
</mat-card>