<div style="height: 100vh;"  >
    <mat-toolbar style="background-color:#393e56;color:white;">
      <span>DigiTracker</span>
  
      <span class="example-spacer" style="flex:1 1 auto;"></span>
  
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button (click)="openRegisterDialog()" *ngIf="!loggedUser && !loggedIA && !loggedIACentre">
          <mat-icon>people</mat-icon><span style="font-size:14px;">Register</span>
        </a>
        <a mat-button (click)="openLoginDialog()" *ngIf="!loggedUser && !loggedIA  && !loggedIACentre">
          <mat-icon>lock</mat-icon><span style="font-size:14px;">Login</span>
        </a>
        <a mat-button (click)="createPermit()" *ngIf="!loggedUser && loggedIA  && !loggedIACentre">
          <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Create Permit</span>
        </a>
        <a mat-button (click)="viewApplications()" *ngIf="!loggedUser && (loggedIA  || loggedIACentre)">
          <mat-icon>description</mat-icon><span style="font-size:14px;">View Applications</span>
        </a>
        <a mat-button (click)="addViolations()" *ngIf="!loggedUser && !loggedIA  && loggedIACentre">
          <mat-icon>alarm_add</mat-icon><span style="font-size:14px;">Add Violations</span>
        </a>
        <!-- for notifications-->
        <button mat-button [matMenuTriggerFor]="notificationmenu" *ngIf="loggedUser">
          <mat-icon matBadge="notifications.length" matBadgeColor="warn">home</mat-icon><span style="font-size:18px;">Notification</span>
        </button> 
        <mat-menu #notificationmenu="matMenu">
          <table>
            <tbody>
              <tr mat-menu-item *ngFor="let notification of notifications" (click)="markAsRead(notification)">
                <th>{{notification.header}}</th>
                <br />
                <p>{{ notification.message }}</p>
                <br />
                <p>{{ notification.timestamp }}</p>
              </tr>
            </tbody>
          </table>
        </mat-menu>       
        <!-- for my permits -->
        <button mat-button [matMenuTriggerFor]="permitmenu" *ngIf="loggedUser">
            My Permits
        </button>
        <mat-menu #permitmenu="matMenu">
          <table>
            <tbody>
              <tr mat-menu-item *ngFor="let permit of mypermitlist" (click)="goToMyPermit(permit)">
                <td>{{permit.permitName}}</td>
              </tr>
            </tbody>
          </table>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="mainmenu" *ngIf="loggedUser">All Permits</button>

        <mat-menu #mainmenu="matMenu">
          <ng-container *ngFor="let mainItem of permitNames">
            <button mat-menu-item [matMenuTriggerFor]="submenu">{{ mainItem.key }}</button>
            <mat-menu #submenu="matMenu">
               <button *ngFor="let subItem of mainItem.value" mat-menu-item (click)="goToAllPermit(subItem,mainItem.key)">{{ subItem }}</button>
            </mat-menu>
          </ng-container>
        </mat-menu>
        <!--  -->
        <a mat-button routerLink="/" (click)="logOut()" *ngIf="loggedUser || loggedIA || loggedIACentre">Logout</a>
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>register</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu> -->
      </div>
  
      <div fxShow="true" fxHide.gt-sm="true">
        <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
          <a mat-button routerLink="/register" *ngIf="!loggedUser && !loggedRto">Register</a>
          <a mat-button routerLink="/login" *ngIf="!loggedUser && !loggedRto">
            <mat-icon>lock</mat-icon>Login</a>
          <a mat-button routerLink="/" (click)="logOut()" *ngIf="loggedUser">Logout</a>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>register</mat-icon>
              <span>Redial</span>
            </button>
            <a mat-menu-item routerLink="/login" >
              <mat-icon>voicemail</mat-icon>
              <span>Login</span>
            </a>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>
      </mat-sidenav>
      <mat-sidenav-content  fxFlexFill>
          <ng-content ></ng-content>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>






  

  