<div class="container">
    <mat-toolbar>
      <span>Issuing Authority Center Login</span>
    </mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>
        <form class="my-form">
          <mat-form-field class="full-width">
            <mat-label>Issuing Authority Center Name</mat-label>
            <input matInput placeholder="Center Name" name = "iacentername" [formControl]="iacentername" required>
          </mat-form-field>
          <br />
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" name = "username" [formControl]="username" minlength="6" required>
          </mat-form-field>
          <br />
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" name = "password" [formControl]="password" minlength="8" required>
          </mat-form-field>
          <br />
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button (click)="loginIACenter()" [disabled]="invalidDetails()!=true" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
    