<!--STEPPER-->

<br/><br/><br/><br/><br/><br/>
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="permit" [optional]="isOptional">
    <form [formGroup]="permit">
      <ng-template matStepLabel>Enter Permit Name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Permit Name" formControlName="permitname" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext style="background:dodgerblue;color:white;" (click)="addPermit()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="metadata" [optional]="isOptional">
      <form [formGroup]="metadata">

        <ng-template matStepLabel>Fill in Form Info</ng-template>

      <h5>Dependencies</h5>
      <div id="dependencies" style="overflow-y: scroll;overflow-x: hidden;max-width:200px;height: 120px;">
        <table style="width:100%;">
          <tbody>
            <tr style="height:40px;" *ngFor="let p of permitNames">  
              <div class="row">
                <td class="col-md-8">{{p}}</td>
                <td class="col-md-4" >
                  <mat-checkbox (click)="sendPermitName(p)"></mat-checkbox>
                </td>
              </div>     
            </tr>
          </tbody>
        </table>
      </div>
      
      <hr>

        <mat-label>State List of Documents</mat-label><br/>
        <mat-icon (click)="addDocs()">add_circle</mat-icon>
        <div id="addDocs"></div>
        <hr>

        <mat-label>Validation Required?</mat-label>
        <br />

        <mat-radio-group name="radioOpt1" formControlName="validationRequired" (change)="radioChange()" required>
          <mat-radio-button [value]="true" >Yes</mat-radio-button><br/>
          <mat-radio-button [value]="false" >No</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="vr">
            <hr> 
        <mat-label>State Validation Requirements</mat-label><br/>
        <mat-icon (click)="addValidationReq()">add_circle</mat-icon>
        <div id="validationReq"></div>
        </div>
        <hr>
        
        <mat-form-field>
          <input type="number" matInput placeholder="Period" formControlName="validityPeriod" required>
        </mat-form-field>
        (In months)
        <br />

        <mat-form-field>
            <input type="number" matInput placeholder="Fees" formControlName="applicationFee" required>
        </mat-form-field>
        (In INR)
        <br />
        <div>
          <!-- <button mat-button matStepperPrevious>Back</button> -->
          <button mat-button style="background:dodgerblue;color:white;" matStepperNext (click)="generateForm()">Next</button>
        </div> 
      </form>
  </mat-step>
  <mat-step [optional]="isOptional">
      <ng-template matStepLabel>Create Form</ng-template>
    <div>
      <div id="stage1" class="build-wrap" style="padding: 100px;"></div>
    </div>
    <button mat-button matStepperNext type="submit" style="background:dodgerblue;color:white;" (click)="submitForm()" *ngIf="!bool">Submit Form</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- <div class="container" *ngIf="bool">
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Permit Name</mat-label>
          <input matInput type="text" placeholder="Permit Name" name = "permitname" [formControl]="permitname" required>
        </mat-form-field>
        <br />
      </form>
    <mat-card-actions>
      <button mat-raised-button (click)="generateForm()" [disabled]="invalidDetails()" color="primary">Create form</button>
    </mat-card-actions>
</div>
  <div>
    <div id="stage1" class="build-wrap" style="padding: 100px;"></div>
  </div>
  
  <button type="submit" mat-raised-button color="primary" (click)="submitForm()" *ngIf="!bool">Submit Form</button> -->
   <!--<div id="markup" class="render-wrap" style="padding: 100px;display:block;"></div>
  <button type="button" id="submit1" (click)="submit1()">Submit1</button>
  <div id="user" class="user-wrap" style="padding: 100px;display:block;"></div> -->