<mat-card class="my-card">
    <mat-card-content>
<<<<<<< HEAD

<label>Upload your Psych Evaluation Test</label><br/>
<input type="file" id="sign" name="file" accept="image/*" (change)="getFiles($event)" required><br/><br/>
=======
            <img [src]="'data:image/jpg;base64,'+filestring" style="height:500px;width:500px" />
<!-- 
<label>Signature</label><br/>
<input type="file" id="sign" name="file" accept="image/*" (change)="getFiles($event)" required><br/><br/> -->
>>>>>>> 3d693bf11a1a5e9fe3d93995285269f548eed4c1
   </mat-card-content>
  <mat-card-actions>
      <button mat-button type="submit" (click)="submitDoctorReport()">Submit</button>
  </mat-card-actions> 
</mat-card>