<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab>
      <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Lifecycle
      </ng-template>
      <section class="cd-timeline js-cd-timeline" style="background-color: #e3e5e6">
      <div class="cd-timeline__container">
        
        <div class="cd-timeline__block js-cd-block" *ngFor="let s of timeline" >
          <div class="cd-timeline__img cd-timeline__img--picture js-cd-img" *ngIf="s.title=='APPLICATION'">
            <img  src="./assets/img/application.svg" alt="Picture">
          </div>
          <div class="cd-timeline__img cd-timeline__img--movie js-cd-img" *ngIf="s.title=='VERIFICATION'">
            <img  src="./assets/img/verify.svg" alt="Picture">
          </div>
          <div class="cd-timeline__img cd-timeline__img--location js-cd-img" *ngIf="s.title=='VALIDATION'">
            <img  src="./assets/img/validate.svg" alt="Picture">
          </div>
          <div class="cd-timeline__img cd-timeline__img--location js-cd-img" *ngIf="s.title=='REJECTION'">
              <img  src="./assets/img/reject.png" alt="Picture">
            </div>
          <div class="cd-timeline__img cd-timeline__img--picture js-cd-img" *ngIf="s.title=='ISSUED'">
            <img  src="./assets/img/issue.svg" alt="Picture">
          </div> <!-- cd-timeline__img -->
  
          <div class="cd-timeline__content js-cd-content" >
            <h2>{{s.title}}</h2>
            <div *ngFor="let mes of s.metaInfo">
                <span style="color:grey;font-size:20px;">{{mes.key}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color:black;font-size:20px;border-bottom: 2px solid grey">{{mes.value}}</span>
            </div><br/><br/>
            <a href="#0" class="cd-timeline__read-more">Read more</a>
            <span class="cd-timeline__date">{{s.date}}</span>
          </div> <!-- cd-timeline__content -->
        </div> <!-- cd-timeline__block -->
  
  
  
  
      </div>
    </section> <!-- cd-timeline -->
    
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      View Application
      </ng-template>
  
      <mat-card class="my-card" style="margin:100px;padding:50px;">
          <mat-card-content>
            <table style="width:100%;">
              <tbody>
                <tr style="height:40px;" *ngFor="let formAttr of form">
                  <div class="row">
                  
                  <td class="col-md-3" style="text-align:right;padding-right:20px;">{{formAttr.label}}</td>
                  <td class="col-md-9" style="border-bottom:2px solid #808080a1;">{{formAttr.value}}</td>
                  </div>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
      </mat-card>
  
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Violations
      </ng-template>
    <div class="row" style="width:100vw;">
      <div class="col-md-6 col-lg-6">
          <mat-label style="margin-left:25px;font-weight:500;font-size:25px;color:#66615b;">Penalties</mat-label>  
          <mat-card class="my-card" style="margin:25px;margin-top:0px;padding:20px;">
              <mat-card-content>
                <table style="width:100%;">
                  <thead>
                    <th >
                      <div class="row">
                      <td class="col-md-4">Reason</td>
                      <td class="col-md-4">Penalty</td>
                      <td class="col-md-4">Date</td>
                      </div>
                    </th>
                  </thead>
                  
                  <tbody>
            
                    <tr style="height:40px;" *ngFor="let p of penalties">
                      <div class="row">
                      
                      <td class="col-md-4" >{{p.description}}</td>
                      <td class="col-md-4">{{p.penalty}}</td>
                      <td class="col-md-4">{{p.date}}</td>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
          </mat-card>
      </div> 
      <div class="col-md-6 col-lg-6">
          <mat-label style="margin-left:25px;font-weight:500;font-size:25px;color:#66615b;">Suspensions</mat-label>  
          <mat-card class="my-card" style="margin:25px;margin-top:0px;padding:20px;">
              
            <mat-card-content>
                <table style="width:100%;">
                    <thead>
                        <th >
                            <div class="row">
                          <td class="col-md-4">Reason</td>
                          <td class="col-md-4">Suspended Till</td>
                          <td class="col-md-4">Date</td>
                          </div>
                        </th>
                        </thead>
                  <tbody>
                    <tr style="height:40px;" *ngFor="let s of suspensions">
                      <div class="row">
                          <td class="col-md-4">{{s.suspendedBecause}}</td>
                          <td class="col-md-4">{{s.suspendTill}}</td>
                          <td class="col-md-4">{{s.date}}</td>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
      </div>
    </div>

    <div class="row" style="width:100vw;">
        <div class="col-md-6 col-lg-6">
            <mat-label style="margin-left:25px;font-weight:500;font-size:25px;color:#66615b;">Revocation</mat-label>  
            <mat-card class="my-card" style="margin:25px;margin-top:0px;padding:20px;">
                <mat-card-content>
                  <table style="width:100%;">
                      <thead>
                          <th >
                            <div class="row">
                            <td class="col-md-6">Reason</td>
                            <td class="col-md-6">Date</td>
                              </div>
                          </th>
                        </thead>
                    <tbody>
                      <tr style="height:40px;" *ngFor="let r of revocations">
                        <div class="row">
                            <td class="col-md-6">{{r.revokedBecause}}</td>
                            <td class="col-md-6">{{r.date}}</td>
                        </div>
                      </tr>
                    </tbody>
                  </table>
                </mat-card-content>
            </mat-card>
        </div> 
        <div class="col-md-6 col-lg-6">
            <mat-label style="margin-left:25px;font-weight:500;font-size:25px;color:#66615b;">Rejection</mat-label>  
            <mat-card class="my-card" style="margin:25px;margin-top:0px;padding:20px;">
                <mat-card-content>
                  <!-- <table style="width:100%;">
                      <thead>
                          <th >
                            <div class="row">
                            <td class="col-md-6">Reason</td>
                            <td class="col-md-6">Date</td>
                              </div>
                          </th>
                        </thead>
                    <tbody>
                      <tr style="height:40px;" *ngFor="let r of revocations">
                        <div class="row">
                            <td class="col-md-6">{{r.revokedBecause}}</td>
                            <td class="col-md-6">{{r.date}}</td>
                        </div>
                      </tr>
                    </tbody>
                  </table> -->
                </mat-card-content>
            </mat-card>
        </div> 
    </div>
    </mat-tab>
  </mat-tab-group>

  

