<h2 style="text-align:center;color:#393e56;">REGISTER</h2>

<div class="container" *ngIf="aadhaarBoolean != false">
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Aadhaar ID</mat-label>
          <input matInput placeholder="Aadhaar ID" name = "aadhaarID" [formControl]="aadhaarID" pattern="[0-9]+" maxlength="12" minlength="12" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="aadhaar()" [disabled]="invalidAadhaar()!=true" color="primary">Submit Aadhaar</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="mobileBoolean != false">
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width" *ngIf="!otpMobileSent">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Mobile Number" name = "mobile" [formControl]="mobile" pattern="[0-9]+" maxlength="10" minlength="10" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="!otpMobileSent">
      <button mat-raised-button (click)="sendMobileOtp()" [disabled]="invalidMobile()!=true" color="primary">Send OTP</button>
    </mat-card-actions>
    <mat-card-content *ngIf="otpMobileSent">
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>OTP Number</mat-label>
          <input matInput placeholder="OTP" name = "otpMobile" [formControl]="otpMobile" pattern="[0-9]+" maxlength="4" minlength="4" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="otpMobileSent">
      <button mat-raised-button (click)="verifyMobileOtp()" [disabled]="invalidOtp()!=true" color="primary">Verify Mobile</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container" *ngIf="emailBoolean != false">
  <mat-card class="my-card">
    <mat-card-content *ngIf="!otpEmailSent">
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email ID" name = "email" [formControl]="email" [email]="true" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="!otpEmailSent">
      <button mat-raised-button (click)="sendEmailOtp()" color="primary">Send OTP</button>
    </mat-card-actions>
    <mat-card-content *ngIf="otpEmailSent">
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>OTP</mat-label>
          <input matInput placeholder="OTP" name = "otpEmail" [formControl]="otpEmail" pattern="[0-9]+" maxlength="4" minlength="4" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="otpEmailSent">
      <button mat-raised-button (click)="verifyEmailOtp()" [disabled]="invalidOtp()!=true" color="primary">Verify Email</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container" *ngIf="detailsBoolean != false">
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" name = "firstname" [formControl]="firstname" pattern="[a-zA-Z]+" required>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="Middle Name" name = "middlename" [formControl]="middlename" pattern="[a-zA-Z]+" required>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" name = "lastname" [formControl]="lastname" pattern="[a-zA-Z]+" required>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="dd/mm/yyyy" name = "dob" [formControl]="dob" type="date" required>
        </mat-form-field>
        <br />
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submitDetails()" [disabled]="invalidDetails()!=true" color="primary">Submit Details</button>
    </mat-card-actions>
  </mat-card>
</div>



